@import url(./index.css);

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../../public/assets/images/background.png);
    background-repeat: no-repeat;
    position: relative;
    height: 100%; 
    width: 100%; 
}

.about::before{ 
    content:"";
    background-color:#0000009e;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 0;
}

.about-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100%;
    width: 30%;
    min-width: 27.5rem;

}

.about-card{
    display: flex;
    width: 100%;
    height: 90%;
    margin: 2rem;
    place-content: center;
    place-items: center;
    position: relative;
    border: 0.2rem solid red;
    border-radius: 2rem;
    background: linear-gradient(45deg,#00cc0a 25%, #00cc0a 25%, #000 25%, #000 50%, #00cc0a 50%, #00cc0a 75%, #000 75%, #000 100%);
    transition: .3s;
    background-size: 60px 60px;
    position: relative;
    border-radius: 20px;
}

.about-card-inside{
    position: absolute;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background-color: black;
    border: 0.1rem solid rgb(0, 255, 247);
    box-shadow: 2px 2px 10px rgb(0,255,255) inset;
    border-radius: 1rem;
}

.card-head{
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.208);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 20%;
}

.card-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    margin-left: 2rem;
}

.pbPic{
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: rgb(0, 119, 119);
}

.card-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: aqua;
    margin-left: 1rem;
    width: 75%;
    height: 100%;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
    width: 100%;
    height: 80%;
}

table, th, td{
    border-collapse: collapse;
}

table{
    width: 90%;
    height: fit-content;
    text-align: center;
}

thead{
    border: 2px solid green;
    background-color: black;
}

tbody{
    border: 2px solid green;
}

tbody tr:nth-child(odd){
    background-color:rgba(211, 211, 211, 0.219);
}

tbody tr:nth-child(even){
    background-color:rgba(255, 234, 0, 0.219);
}

.circle-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.circle-container-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.button-hobbys{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color: rgb(136, 82, 0);
    box-shadow: 
                0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5) inset,
                -0.5rem -0.5rem 1rem rgba(0, 0, 0) inset;
    border-radius: 50%;
}

.button-hobbys-active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-color:rgb(136, 82 ,0);
    box-shadow: 
                0.5rem 0.5rem 1rem black inset,
                -0.5rem -0.5rem 1rem rgba(255, 255, 255, 0.5) inset;
    border-radius: 50%;
}

.hobby-text{
    font-size: 1.5rem;
    font-weight: bolder;
    color: transparent;
    background-color: black;
    text-shadow: -1px -1px 3px rgba(255, 255, 0, 0.744);
    background-clip: text;
}

.hobby-text-active{
    font-size: 1.5rem;
    font-weight: bolder;
    color: transparent;
    background-color: black;
    text-shadow: 1px 1px 3px rgba(255, 255, 0, 0.744);
    background-clip: text;
}

.circle-container-bot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.hobby-img{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.hover-container{
    display: flex;
    justify-content: center;
    visibility: hidden;
    height: 100%;
    width: 100%;
}

.gaming,
.music,
.coding{
    display: flex;
    justify-content: center;
    position: relative;
}

.hover-container .gaming img,
.hover-container .music img,
.hover-container .coding img{
    background-color: rgba(128, 128, 128, 0.397);
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 2rem;
}

.tooltip{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(75, 0, 0, 0.56);
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 160, 0);
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-out;
    transform: translateY(9.5rem);
    pointer-events: none;
}

.hover-container img:hover + .tooltip{
    opacity: 1;
    transform: translateY(-0.5rem);
}



