@import url(./index.css);

.projects{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: url(../../public/assets/images/background.png);
    background-repeat: no-repeat;
    position: relative;
    flex-grow: 1;
    height: 100%;   
}

.projects::before{
    content:"";
    background-color:#0000009e;
    position:absolute;
    top:0rem;
    left:0rem;
    right:0;
    bottom:0rem;
    z-index: 0;
}

.projects-container{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 1;
}